<h1> Welcome Survey Users </h1>

<h3> Click the link that applies to you </h3>
<h2><a href='/admin'>Admin users who want to create or change surveys</a></h2>
<h2><a href='/users/list_surveys'>People who are going to take surveys</a></h2>
